[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
convert_case = "0.6"
ureq = { version = "2.6", features = ["json"]}
serde = { version = "1", features = ["derive"] }
serde_flat_path = "0.1.2"
